node_modules
dist
dist-ssr
tmp
*.local
.vite
.DS_Store
.env
.env.*
!.env.example

# TS incremental build cache
*.tsbuildinfo

# IDE
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
